<%= form_for(@throw) do |f| %>
  <div class="row collapse">
    <div class="large-2 columns">
      <%= f.label :choice, 'You Chose', class: 'inline' %>
    </div>
    <div class="large-10 columns">
      <label class="inline"><%= @throw.choice %></label>
    </div>
  </div>
  <div class="row collapse">
    <div class="large-2 columns">
      <%= f.label :computer_choice, 'Computer Chose', class: 'inline' %>
    </div>
    <div class="large-10 columns">
      <label class="inline"><%= @throw.computer_choice %></label>
    </div>
  </div>
  <div class="row collapse">
    <div class="large-2 columns">
      <%= f.label :result, class: 'inline' %>
    </div>
    <div class="large-10 columns">
      <label class="inline"><%= @throw.result %></label>
    </div>
  </div>
  <div class="row collapse">
    <div class="large-2 columns">
    </div>
    <div class="large-10 columns">
      <%= link_to "Play Again?", root_path, class: 'button' %>
    </div>
  </div>
<% end %>

